.footer {
    padding: 60px 0 70px;
    @include media-tablet {
        padding: 40px 0 30px;
    }
}

.footer__wrapper {
    display: flex;
    @include media-tablet {
        flex-direction: column;
    }
}

.footer-navigation {
    flex-grow: 1;
    padding-left: 152px;
    @include media-tablet {
        padding-left: 0;
        margin-top: 34px;
    }
    @include media-mobile {
        flex-direction: column;
        row-gap: 20px;
    }
}

.footer-navigation__title {
    margin: 0 0 15px;
}

.footer-navigaton__links {
    @extend %font-add;
    list-style: none;
    padding: 0;
    a {
        text-decoration: none;
        color: $color-text;
        @extend %transition;
        @include font($height: 3.6rem, $size: 1.6rem, $weight: normal);
        &:hover {
            color: $color-primary;
        }
    }
}