.button {
    padding: 11px 25px 13px;
    font-family: "Open Sans", Verdana, sans-serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3S;
    &_bordered {
        background: $color-light;
        border: 1px solid $color-bordered;
        color: $color-text;
        &:hover {
            background: $color-hovered;
            border-color: $color-hovered;
        }
    }
    &_colored {
        background: $color-primary;
        color: $color-light;
        border: 1px solid $color-primary;
        &:hover {
            background: $color-additional;
            border-color: $color-additional;
        }
    }
}