.tools__wrapper{
    padding-bottom: 90px;
    background-image: url(../../img/tools/Bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    @include media-mobile {
        padding-bottom: 55px;
    }
}

.tools__title {
    max-width: 462px;
    margin: auto;
    text-align: center;
    margin-bottom: 70px;
    @include media-mobile {
        margin-bottom: 40px;
    }
}

.icon-square {
    margin-bottom: 30px;
}

//tool block

.tool-container {
    @include media-tablet {
        > * {
            flex-basis: 48%;
        }
    }
    @include media-mobile {
        row-gap: 35px;
        > * {
            flex-basis: 100%;
        }
    }
}

.tool__icon {
    @include media-tablet {
        text-align: center;
    }
}

.tool__title {
    margin:  0 0 16px;
}

.tools__button {
    margin-top: 60px;
    text-align: center;
    @include media-mobile {
        margin-top: 37px;
    }
}