.strategies {
    padding: 30px 0;
    &__title {
        margin: 0 0 14px;
        @include media-tablet {
            text-align: center;
        }
    }
    &__description {
        margin-bottom: 0 0 24px;
        @include media-tablet {
            text-align: center;
        }
    }
    &__tags {
        margin-bottom: 31px;
        @include media-tablet {
            justify-content: center;
        }
    }
}

.strategy-wrapper {
    > * {
        margin-bottom: 30px;
        @include media-tablet {
            flex-basis: 48%;
        }
        @include media-mobile {
            flex-basis: 100%;
        }
    }
}

.strategy {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    @include media-tablet {
        overflow: hidden;
    }
    &__content {
        display: flex;
        flex-direction: column;
        padding: 24px 33px 26px 33px;
        flex-grow: 1;
    }
    &__name {
        margin: 0 0 29px;
        flex-grow: 1;
    }
    &__image {
        @include media-tablet {
            width: 100%;
        }
    }
    &_hidden {
        display: none;
    }
}

.strategy-modal__content {
    .strategy__image {
        width: 100%;
        @include media-tablet {
            position: static;
        }
    }

    .strategy__date {
        @include font(1.3rem, normal);
        margin: 0 0 5px;
    }

    .strategy__name {
        margin-bottom: 10px;
    }

    .strategy__text {
        margin:  0 0 12px;
    }
}