.tools {
    &__wrapper {
        margin-top: 80px;
        padding-bottom: 90px;
        background-image: url(../img/backgrounds/tools-bg.svg);
        background-position: center bottom;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    &__title {
        max-width: 462px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 70px;
    }
    &__button {
        margin-top: 60px;
        text-align: center;
        @include media-mobile {
            margin-top: 0;
        }
    }
}

.tool {
    &__title {
        margin: 0 0 16px;
    }
    &__icon {
        margin-bottom: 30px;
    }
}

.tool-container {
    @include media-tablet {
        flex-wrap: wrap;
        > .tool {
            flex-basis: 43%;
            text-align: center;
        }
    }
    @include media-mobile {
        > .tool {
            flex-basis: 100%;
            margin-bottom: 47px;
        }
    }
}